<div class="container">
  <div class="card large">
    <div class="card-image">
      <img class="responsiv-img" src="img/runner.jpg" alt="Runner">
      <span class="card-title">Created by Alan Watson</span>
    </div>

    <div class="card-content">
      <p>I created Marathoner as a part of the final project for the General Assembly WDIR course.</p><br>
        <a href="https://alwat91.github.io/"><button class="waves-effect waves-light btn"><i class="fa fa-briefcase" aria-hidden="true"></i> Portfolio site</button></a>
        <a href="https://www.linkedin.com/in/t-alan-watson/"><button class="waves-effect waves-light btn"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</button></a>
        <a href="https://github.com/alwat91"><button class="waves-effect waves-light btn"><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
        <a href="mailto:alwat91@outlook.com"><button class="waves-effect waves-light btn"><i class="fa fa-envelope" aria-hidden="true"></i> Email</button></a>

    </div>

</div>
</div>
