<img src="img/runner.jpg" alt="Runner">

<h1>Created by Alan Watson</h1>
<p>I created Marathoner as a part of the final project for the General Assembly WDIR course.</p>
<ul>
  <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="https://alwat91.github.io/">Portfolio site</a></li>
  <li><i class="fa fa-linkedin" aria-hidden="true"></i><a href="https://www.linkedin.com/in/t-alan-watson/">LinkedIn</a></li>
  <li><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/alwat91"></a>GitHub</li>
  <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:alwat91@outlook.com">Email</a></li>
</ul>
