<h1>Edit Run</h1>
<h3>Enter the changes you wish to make to your run</h3>

<form>
  <label for="date">Date of run</label>
  <input type="date" name="" value="">
  <label for="beginning_time">Beginning time:</label>
  <input type="time" name="" value="">
  <button type="button" name="now">Now</button>
  <label for="ending_time">Ending time:</label>
  <input type="time" name="" value="">
  <button type="button" name="now">Now</button>
  <button type="submit" name="button">Submit</button>
</form>
<p>Tip: Select the "NOW" button to set the time to the current time.</p>
