<div ng-controller="RunsController as runs">

  <h1>Edit Run</h1>
  <h3>Enter the changes you wish to make to your run</h3>
  <form ng-submit="runs.editRun(home.editingRun)">
    <label for="date">Date of run</label>
    <input input-date ng-model="home.editingRun.beginning_time" type="text">
    <label for="beginning_time">Beginning time:</label>
    <input ng-model="home.editingRun.beginning_time" type="time" step=".1">
    <button ng-click="home.editingRun.beginning_time = runs.now()" type="button" name="now">Now</button>
    <label for="ending_time">Ending time:</label>
    <input ng-model="home.editingRun.end_time" type="time" step=".1" placeholder="{{home.editingRun.end_time}}">
    <button ng-click="home.editingRun.end_time = runs.now()" type="button" name="now">Now</button>
    <label for="mileage">Miles run:</label>
    <input type="number" step="0.01" ng-model="home.editingRun.mileage" value="{{home.editingRun.mileage}}">
    <button type="submit" name="button">Submit</button>
  </form>
  <a ui-sref="index">Cancel</a>
  <p>Tip: Select the "NOW" button to set the time to the current time.</p>

</div>
