<div ng-controller="RunsController as runs">

  <h1>New Run</h1>
  <h3>Enter the details for your run</h3>

  <form ng-submit="runs.createRun(run)">
    <label for="date">Date of run</label>
    <input ng-model="run.date" type="date" name="" value="">
    <label for="beginning_time">Beginning time:</label>
    <input ng-model="run.beginning_time" type="time" step="1">
    <button type="button" name="now">Now</button>
    <label for="ending_time">Ending time:</label>
    <input ng-model="run.end_time" type="time" step="1">
    <label for="mileage">Miles run:</label>
    <input type="number" step="0.01" ng-model="run.mileage">
    <button type="button" name="now">Now</button>
    <button type="submit" name="button">Submit</button>
  </form>
  <p>Tip: Select the "NOW" button to set the time to the current time.</p>

</div>
